<div class="container">
<h1 class="title">Angular Assignment</h1>
<nav class="navbar navbar-light bg-light"> 
  <a class="navbar-brand" routerLink="countchar" routerLinkActive="active" >Count Char</a>
  <a class="navbar-brand" routerLink="nodeextract" routerLinkActive="active">Node Extract</a>
  <a class="navbar-brand" routerLink="removeduplicate" routerLinkActive="active">Remove Duplicate</a>
  <a class="navbar-brand" routerLink="reversestring" routerLinkActive="active">Reverse String</a>
</nav>
<br>
<div >
  <router-outlet></router-outlet>
</div>
</div>